mixin intro()
  .intro
    .container
      .intro__content
        h1.intro__title Самые лучшие сушильные камеры
        .intro__description Самые лучшие сушильные камеры cамые лучшие сушильные камеры cамые лучшие сушильные камеры

    .intro__slider
      .swiper#intro-lider
        .intro__slider-wrapper.swiper-wrapper
          .intro__slide.swiper-slide
            +picture("slides", "slider-1", "jpg", 1920, 750, "Пример")
          .intro__slide.swiper-slide
            +picture("slides", "slider-1", "jpg", 1920, 750, "Пример")
          .intro__slide.swiper-slide
            +picture("slides", "slider-1", "jpg", 1920, 750, "Пример")
          .intro__slide.swiper-slide
            +picture("slides", "slider-1", "jpg", 1920, 750, "Пример")
          .intro__slide.swiper-slide
            +picture("slides", "slider-1", "jpg", 1920, 750, "Пример")
        .swiper-pagination
        .swiper-button-prev.intro__button-prev
        .swiper-button-next.intro__button-next


